APP_NAME=KnowledgeSpace
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

# This app doesn't currently use a DB so this can be ignored
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=kspace
DB_USERNAME=kspace
DB_PASSWORD=kspace

SCICRUNCH_HOST=https://scicrunch.org:443/api/1/elastic
SCICRUNCH_KEY=

SCIGRAPH_HOST=

BIOCADDIE_HOST=biocaddie.scicrunch.io
BIOCADDIE_USER=
BIOCADDIE_PASS=

GITHUB_HOST=https://raw.githubusercontent.com

# Older stuff that's been replaced
NIF_HOST=http://nif-services.neuinfo.org
LITERATURE_HOST=http://starburst.crbs.ucsd.edu:8080

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
