nav { 
  ul a, .brand-logo { 
    color: #444; 
    img { margin-bottom: -8px; } 
  }
 
}


#DataSources, #Documentation, #category-page { 
  ul { 
    margin: 20px 0;  
    .btn { padding: 0 1.3rem; } 
    li {
      margin: 5px; 
      a { padding: 5px; } 
    } 
 }
}

footer {

  h3 { 
    color: #FFF; 
    border-bottom: 1px solid; 
    margin-bottom: 20px;
    padding: 5px;
  }

  ul  {
    width: 100%;
    li {  margin: 0 20px; float: left; } 
  
  }
  
  address { color: #FFF;  }

}

.page-content { 
  margin-top: 50px;
  margin-bottom: 100px;
}

/* parallax */ 
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
    h1 { margin-bottom: 0 } 
    h3 { margin: 0 } 
    input[type='text'] { 
      color: #444;  
      background-color: #fff;
      padding: 0 0 0 15px;
      font-weight: 600;
      font-size: 16px;
   
      &:focus{
        border-bottom: 1px solid #ccd0d2;
        box-shadow: 0 1px 0 0 #ccd0d2;
      }
    }
 
		::-webkit-input-placeholder { /* WebKit, Blink, Edge */
				color:    #444;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			 color:    #444;
			 opacity:  1;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
			 color:    #444;
			 opacity:  1;
		}
		:-ms-input-placeholder { /* Internet Explorer 10-11 */
			 color:    #444;
		}
		::-ms-input-placeholder { /* Microsoft Edge */
			 color:    #444;
		}

    .search-wrapper.focused { margin: 0 }
    
    .search-wrapper { 
      -webkit-transition:  margin .25s ease; 
      position: relative; 
      margin: 0 12px;

      i.material-icons {
        color: #444; 
        position: absolute;
        top: 10px;
        right: 0px;
        cursor: pointer;
        font-weight: 600;
       }
     } 
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}



#tag-line { margin-top: 15px; margin-bottom: 15px; }

#showcase { 
	margin-top: 15px;
	margin-bottom: 15px;

	.img-caption { 
		left: 5px;
		top: 15px;
		z-index: 1;
		color: #fff;
		position: absolute;
		border-radius: 0 0 8px 0;
		font-weight: bold;	
	}

  .card { padding: 15px 0; } 	
	img { padding: 0 15px;  width: 100% }

  .showcase-list { 
		padding: 15px 0;
		ul { 
			padding: 0; 
		} 
	} 

}

.homepage-container { i { display: block; font-size: inherit; } } 

.table-of-contents { 
  
  a:hover { 
    border-left: none;
    border-bottom: 2px solid #757575;
    color: #fff;
  } 
  
  a.active {
    color: #fff; 
    border-left: none;
    border-bottom: 2px solid #fff;
  } 

}

.page-container { 
  min-height: 1000px;
}

/* WIKI/TERMS PAGE */
#atlas  { iframe {  min-height: 547px; }} 

#term-nav { z-index: 9999 }

.page-title {
  border-bottom: 2px solid; 
  padding-bottom: 7px;  
}


#wiki-page {

 .term-summary-card { width: 100%; }  
  ul { padding-left: 12px; }
  ul#dataspace-categories {
    list-style-type: none;  
    padding-left: 0;
    li { 
        margin: 15px 0; 
        padding: 5px 0; 
        .btn { height: 42px; } 
      } 
    .dataspace-category { width: 100%; font-weight: bold; font-size: 16px; } 
    .category-counter { margin-top: 5px; } 
  }
}

#lexicon { 
  ul { 
    margin: 0;
    li { list-style-type: disc; }
  }
}

#literature {
  #articles {
    min-height: 200px; 
  }
}

#image-gallery {
  h4 { border-bottom: 1px solid; } 
  .carousel {
    min-height: 585px; 
  }
} 

/* probably old... */
#terms-detail {  
  .term-title { margin-bottom: 0; } 
  margin-top: 25px;
  .card-content { width: 100%; } 
  .form-group { display: block }
  #summary-box { 
    


  }

  #relationship-image-box { 
    min-height: 585px; 
  
   }

   /* RELATIONSHIPS */
  #relationships {
    min-height: 585px; 
    svg { background-color: darken( $body-bg, 5% ); border: #ccc solid 1.5px;  }
  }

  /* Literature */

  /* IMAGE GALLERY */
  
  #image-gallery-box { 
    min-height: 120px; 
  }

  /* Dataspace Modal */
  .modal {
    .title { font-size: 2.0rem; line-height: 110%;  }
    .description { margin-top: 10px; padding-right: 10%; }
    .badge.new {  font-size: 1rem; }  
  } 
  
}

 
.card .card-action .card-pagination { 
  li.disabled a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) { color: #999; }
  a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) { 
    color: #444;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
    margin-right: 0; 
  }


 }

#literature {
    .card-action { min-height: 60px } 
}

.page { 
  .embedded-only { display: none; } 
}

.embedded { 
  .page-only { display: none; }
}


#histogram-container {  background-color: white; } 
.react-d3-histogram {
  path, line { 
    fill: none;
    stroke: $line-color;
    stroke-width: 2;
    shape-rendering: crispEdges;
    stroke-linejoin: round;
    stroke-linecap: round;
    z-index: 2;
  }

  .react-d3-histogram__y-axis { 
    text { z-index: 2; } 
    path, line {   
      stroke: #D8D8D8;
      stroke-width: 1;
      z-index: 1;
    } 
   }

	 circle { 
		fill: none;
		stroke: darken( $line-color, 10%);	
	}
   rect { 
      fill: none;
      pointer-events: all;
    }

}



.react-bs-table {
  .react-bs-container-header {
    table { margin-bottom: 0; }
  }

}
