body, h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}
.intro-header .container {
    background: url("../footer.png") repeat scroll center center / cover  rgba(0, 0, 0, 0);
}
.intro-header2 .container {
    background: url("../footer.png") repeat scroll center center / cover  rgba(0, 0, 0, 0);
}

.content {
    padding: 50px 0 50px 0;
    min-height: 200px;
}

.table > thead > tr > th {
    vertical-align: top;
}

.table-borderless tbody tr td, .table-borderless thead tr th {
    border: none;
}

.popover {
    max-width: 700px;
}

.tooltip-el {
    color: orange;
    cursor: help;
}

.partner_logos a {
    /*float: right;*/
    margin-left: 10px;
}
.partners {
    margin: 13px 10px 0 0;
    /*float: right;*/
    float: left;
}
.footer_links {
    margin-top: 10px;
    text-align: right;
}

#about_image {
    float: right;
    margin-top: 150px;
}

.examples_left {
    padding-top: 78px;
}
.examples_right ul {
    font-size: 18px;
}

.about_image_wrapper {
    overflow: hidden;
}

.content-section-b h3 {
    float: right;
}
#about_image2 {
    float: right;
}



/* remove gutter spacing outside */
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

/* only remove padding of middle columns */
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right:0;
  padding-left:0;
}

.row.no-gutter-2 {
  margin-left: 2px;
  margin-right: 2px;
  
   margin:0;
   margin-bottom: 0;
   margin-top: 0;
}    
    

/* remove padding all columns */
.row.no-gutter-2>div[class*='col-'] {
  padding:2px;
  
}


.row_no_gap
{
    padding-bottom: 0px;
    padding-top: 0;
    margin-bottom: 0px;
    margin-top: 0; 
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    
   
}

.row_small_gap
{
   padding-bottom: 2px; 
   padding-top: 0; 
   margin-bottom: 2px;
   margin-top: 0; 
   margin-right: 0;
   margin-left: 0;
   padding-left: 0;
   padding-right: 0;
}


.row_small_gap2
{
   //padding-bottom: 0px; 
   //padding-top: 0; 
  // margin-bottom: 0px;
  // margin-top: 0; 
  // margin-right: 0px; 
  // margin-left: 0px;
  // padding-left: 0px;
   //padding-right: 0px;
   
   padding-bottom: 2px; 
   padding-top: 0; 
   margin-bottom: 2px;
   margin-top: 0; 
   margin-right: 0;
   margin-left: 0px;
   padding-left: 2px;
   padding-right: 2px;
}